<!DOCTYPE html>

<html>
<head>
    <meta charset="UTF-8" />
    <title>@ViewBag.Title</title>

    <style type="text/css">
        html, body, form {
            height: 100%;
            margin: 0;
            padding: 0;
            overflow: hidden;
        }
    </style>

    @Html.DevExpress().GetStyleSheets(
        new StyleSheet { ExtensionSuite = ExtensionSuite.Dashboard }
    )
    @Html.DevExpress().GetScripts(
        new Script { ExtensionSuite = ExtensionSuite.Dashboard }
    )

    <script type="text/javascript">
        var dashboardControl, toolboxExtension, undoExtension;

        function onTextAreaChanged() {
            if (undoExtension !== undefined)
                undoExtension.isChanged(true);
        }

        function onSaveClick() {
            var params = {
                DashboardID: dashboardControl.dashboardContainer().id,
                dashboardJSON: JSON.stringify(dashboardControl.dashboard().getJSON()),
                parameter: $("#dashboardDescription").val()
            }
            $.ajax({
                url: '@Url.Action("SaveDashboard", "Home")',
                data: params,
                type: 'POST',
                async: true,
                success : function() {
                    if (undoExtension !== undefined)
                        undoExtension.isChanged(false);
                    if (toolboxExtension !== undefined)
                        toolboxExtension.menuVisible(false);
                }
            });
        }

        function onBeforeRender(sender) {
            dashboardControl = sender.getDashboardControl();
            toolboxExtension = dashboardControl.findExtension('toolbox');
            undoExtension = dashboardControl.findExtension('undo-redo');
            if (toolboxExtension !== undefined) {
                toolboxExtension.removeMenuItem("save");
                toolboxExtension.addMenuItem(new DevExpress.Dashboard.DashboardMenuItem("custom-save-item", "Save", 108, 0, onSaveClick));
            }
        }
        function onDashboardInitialized(s, e) {
            $.ajax({
                url: '@Url.Action("GetDashboardParameter", "Home")',
                data: { DashboardID: e.DashboardId, ParameterName: "Parameter" },
                type: 'POST',
                async: true,
                success: function (data) {
                    $("#dashboardDescription").val(data);
                }
            });
        }
    </script>
</head>

<body>
    <div style="position: absolute; top: 0; bottom: 0; left: 0; right: 0;">
        @RenderBody()
    </div>
</body>
</html>